<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table>
      <tr>
        <td>Employee Name</td>
      </tr>
      <tr>
        <td>Employee Id</td>
      </tr>
      <tr>
        <td>Email ID</td>
      </tr>
      <tr>
        <td>Contact Number</td>
      </tr>
      <tr>
        <td>Birth Date</td>
      </tr>
      <tr>
        <td>Age</td>
      </tr>
      <tr>
        <td>Gender</td>
      </tr>
      <tr>
        <td>State</td>
      </tr>
      <tr>
        <td>City</td>
      </tr>
      <tr>
        <td>Address</td>
      </tr>
      <tr>
        <td>intrest Areas</td>
      </tr>
    </table>
  </body>
</html>
